{% extends 'top navbar/top-navbar.html' %}
{% block title %} Add product {% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/products.css') }}">

<script src="https://cdn.jsdelivr.net/npm/quagga/dist/quagga.min.js"></script>
<style>

</style>

<div class="container-fluid mt-5 "> <!-- Agregamos la clase mt-5 para añadir margen superior -->
  <div class="row mx-2 mt-5 border border-Tertiary rounded p-0 ">

    <h6 class="mt-1 d-none d-sm-flex">Add product</h6>


    <div class="col-12 col-lg-3 border border-Tertiary rounded p-0">
      <nav class="nav flex-column">
        <div class="list-group d-flex flex-column">
          <a class="list-group-button-home list-group-item list-group-item-action"
            href="{{ url_for('shortcut.shortcut') }}">Home</a>
          <a class="list-group-buttons list-group-item list-group-item-action"
            href="{{ url_for('products.viewproduct') }}">View products</a>
          <a class="list-group-item list-group-item-action active" href="{{ url_for('products.addproduct') }}">Add
            product</a>
          <a class="list-group-buttons list-group-item list-group-item-action"
            href="{{ url_for('products.editproduct') }}">Edit Products</a>
        </div>
      </nav>
    </div>

    <div class="col-12 col-lg-9 mt-3"> <!-- Utilizamos clases de Bootstrap para diseño responsivo y espaciado -->
      <form class="d-flex mt-3">
        <div class="flex-grow-1"></div> <!-- Este div se expandirá para ocupar el espacio disponible -->

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createmodal"
          data-bs-whatever="@mdo">Create
        </button>
      </form>

      <table class="table table-bordered table-striped mt-3 mb-3">
        <!-- Mantenemos las clases existentes y agregamos espaciado -->
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">cantidad</th>
            <th scope="col">Precio</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <!-- Enviar mediante un array llamada task los valores (el nombre lo vamos a cambiar a futuro) -->
          {% for task in tasks %}
          <tr>
            <th scope="row">{{ task[0] }}</th>
            <td>{{ task[1] }}</td>
            <td>{{ task[2] }}</td>
            <td>{{ task[3] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>


    <div class="modal fade" id="createmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="createmodallabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create new product</h5>
            <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="" method="post" class="needs-validation" novalidate>
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                    <div class="invalid-feedback">Por favor ingresa un nombre.</div>
                  </div>
                  <div class="mb-3">
                    <label for="presentacion" class="form-label">Presentación:</label>
                    <select class="form-select form-select-sm" id="presentacion" aria-label="Small select example"
                      onchange="cambiarUnidadMedida()">
                      <option value="lote" selected>Lote</option>
                      <option value="botella">Botella</option>
                      <option value="empaquetado">Empaquetado</option>
                      <option value="granel">Granel</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="cantidad" class="form-label">Cantidad de productos:</label>
                    <input type="number" class="form-control" id="cantidad" name="cantidad" required>
                    <div class="invalid-feedback">Por favor ingresa una cantidad válida.</div>
                  </div>
                  <div class="mb-3">
                    <label for="compania" class="form-label">Compañía:</label>
                    <select class="form-select form-select-sm" id="compania" aria-label="Small select example">
                      <option value="compania1" selected>Compañía 1</option>
                      <option value="compania2">Compañía 2</option>
                      <option value="compania3">Compañía 3</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="cantidad" class="form-label">Cantidad:</label>
                    <output id="cantidadOutput" class="form-control">0</output>
                    <input type="range" class="form-range" id="cantidadRange" min="0" max="100"
                      onchange="actualizarCantidad()">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="precio" class="form-label">Precio:</label>
                    <div class="input-group">
                      <span class="input-group-text">$</span>
                      <input type="number" class="form-control" id="precio" name="precio" step="0.01" required>
                      <div class="invalid-feedback">Por favor ingresa un precio válido.</div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="mb-3">
                <!-- Botón para abrir la cámara -->
                <label for="cantidad" class="form-label">Codebars scan preview:</label>
              </div>

              <!-- Vista previa de la cámara -->
              <div class="container-fluid mt-3 bg-light rounded py-3">

                <div class="preview-camera col-12 d-none" id="camera"></div>
              </div>

              <!-- Selector para los códigos de barras escaneados -->
              <div class="mb-3">
                <label for="qrCodes" class="form-label mt-3">Codebar scanned:</label>
                <select class="form-select form-select-sm" id="qrCodes" aria-label="Small select example">
                  <!-- Aquí se agregarán dinámicamente los códigos de barras escaneados -->
                </select>
              </div>

              <div class="text-end">
                <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal"
                  onclick="limpiarModal()">Cancelar</button>
                <button type="submit" class="btn btn-primary">Save products</button>
              </div>
            </form>
          </div>


        </div>
      </div>
    </div>

  </div>
</div>

<script>
  // Bloquear números negativos en el campo de precio
  document.getElementById('precio').addEventListener('input', function () {
    if (this.value < 0) {
      this.value = '';
    }
  });

  // Bloquear números negativos en el campo de cantidad
  document.getElementById('cantidad').addEventListener('input', function () {
    if (this.value < 0) {
      this.value = '';
    }
  });
</script>

<script>
  function actualizarCantidad() {
    var presentacion = document.getElementById("presentacion").value;
    var cantidadRange = document.getElementById("cantidadRange");
    var cantidadOutput = document.getElementById("cantidadOutput");

    switch (presentacion) {
      case "lote":
        // No se especifica una unidad de medida, se utiliza el valor predeterminado del rango
        cantidadOutput.value = cantidadRange.value;
        break;
      case "botella":
        // Ejemplo: cantidad en litros
        cantidadOutput.value = cantidadRange.value + " litros";
        break;
      case "empaquetado":
        // Ejemplo: cantidad en paquetes
        cantidadOutput.value = cantidadRange.value + " paquetes";
        break;
      case "granel":
        // Ejemplo: cantidad en kilogramos
        cantidadOutput.value = cantidadRange.value + " kg";
        break;
      default:
        // Se debe definir un valor predeterminado
        cantidadOutput.value = cantidadRange.value;
        break;
    }
  }
</script>

<script>
  function limpiarModal() {
    // Limpiar el campo de nombre
    document.getElementById("nombre").value = "";

    // Limpiar el campo de presentación
    document.getElementById("presentacion").selectedIndex = 0;

    // Limpiar el campo de cantidad
    document.getElementById("cantidad").value = "";

    // Limpiar el campo de compañía
    document.getElementById("compania").selectedIndex = 0;

    // Limpiar el campo de cantidad (rango)
    document.getElementById("cantidadRange").value = 0;
    actualizarCantidad();

    // Limpiar el campo de precio
    document.getElementById("precio").value = "";

    // Limpiar los códigos de barras escaneados
    var select = document.getElementById("qrCodes");
    select.innerHTML = "";

    // Detener la captura de QuaggaJS (si está activa)
    Quagga.stop();
  }

  // Función para actualizar la cantidad mostrada según el rango seleccionado
  function actualizarCantidad() {
    var presentacion = document.getElementById("presentacion").value;
    var cantidadRange = document.getElementById("cantidadRange");
    var cantidadOutput = document.getElementById("cantidadOutput");

    switch (presentacion) {
      case "lote":
        // No se especifica una unidad de medida, se utiliza el valor predeterminado del rango
        cantidadOutput.value = cantidadRange.value;
        break;
      case "botella":
        // Ejemplo: cantidad en litros
        cantidadOutput.value = cantidadRange.value + " litros";
        break;
      case "empaquetado":
        // Ejemplo: cantidad en paquetes
        cantidadOutput.value = cantidadRange.value + " paquetes";
        break;
      case "granel":
        // Ejemplo: cantidad en kilogramos
        cantidadOutput.value = cantidadRange.value + " kg";
        break;
      default:
        // Se debe definir un valor predeterminado
        cantidadOutput.value = cantidadRange.value;
        break;
    }
  }
</script>

<script>
  var isQuaggaStarted = false;

  function playBeep() {
    if (window.AudioContext || window.webkitAudioContext) {
      var context = new (window.AudioContext || window.webkitAudioContext)();
      var oscillator = context.createOscillator();
      oscillator.frequency.setValueAtTime(1000, context.currentTime);
      oscillator.connect(context.destination);
      oscillator.start();
      setTimeout(function () {
        oscillator.stop();
      }, 500);
    } else {
      console.error('El navegador no soporta la reproducción de sonidos.');
    }
  }

  function startCamera() {
    if (isQuaggaStarted) {
      Quagga.stop();
      isQuaggaStarted = false;
    }

    function calcularAncho() {
      var defaultWidthPercentage = 57.2;
      return (window.innerWidth * defaultWidthPercentage) / 100;
    }

    Quagga.init({
      inputStream: {
        name: "Live",
        type: "LiveStream",
        target: document.querySelector("#camera"),
        constraints: {
          width: calcularAncho(),
          height: 220,
          marginTop: '5%',
          marginRight: 0,
          marginBottom: 0,
          marginLeft: 0,
          padding: '10px'
        },
        area: {
          top: "0%",
          right: "0%",
          left: "0%",
          bottom: "0%"
        },
        singleChannel: false,
        zoom: {
          max: 3,
          min: 1,
          defaultValue: 3,
          pinchToZoom: true
        }
      },
      decoder: {
        readers: ["ean_reader", "ean_8_reader", "code_39_reader", "code_39_vin_reader", "codabar_reader", "upc_reader", "upc_e_reader", "i2of5_reader"]
      }
    }, function (err) {
      if (err) {
        console.error('Error al iniciar QuaggaJS:', err);
        alert('Error al iniciar QuaggaJS. Por favor, asegúrate de permitir el acceso a la cámara.');
        return;
      }
      console.log('QuaggaJS iniciado correctamente.');
      Quagga.start();
      isQuaggaStarted = true;
    });

    var scannedCodes = {};

    function addMostCommonCodeToList() {
      var mostCommonCodes = Object.keys(scannedCodes).reduce(function (a, b) {
        return scannedCodes[a] > scannedCodes[b] ? a : b;
      });

      console.log('Código de barras más común:', mostCommonCodes);

      var select = document.getElementById("qrCodes");
      var optionExists = Array.from(select.options).some(function (option) {
        return option.value === mostCommonCodes;
      });

      if (!optionExists) {
        var option = document.createElement("option");
        option.text = mostCommonCodes;
        select.add(option);
        playBeep();
      }

      scannedCodes = {};
    }

    Quagga.onDetected(function (result) {
      var code = result.codeResult.code;
      console.log('Código de barras detectado:', code);

      if (code.length === 13) {
        console.log('Código de barras detectado:', code);

        scannedCodes[code] = (scannedCodes[code] || 0) + 1;

        Quagga.pause();

        setTimeout(function () {
          addMostCommonCodeToList();
          Quagga.start();
        }, 2000);
      }
    });

    Quagga.onProcessed(function (result) {
      var drawingCtx = Quagga.canvas.ctx.overlay,
        drawingCanvas = Quagga.canvas.dom.overlay;

      drawingCtx.clearRect(0, 0, parseInt(drawingCanvas.getAttribute("width")), parseInt(drawingCanvas.getAttribute("height")));

      if (result && result.boxes && result.boxes.length > 0) {
        var area = result.boxes[0];

        drawingCtx.strokeStyle = "#00f";
        drawingCtx.lineWidth = 2;
        drawingCtx.strokeRect(area.left, area.top, area.width, area.height);

        if (area) {
          drawingCtx.strokeStyle = "#00f";
          drawingCtx.lineWidth = 2;
          drawingCtx.beginPath();
          drawingCtx.moveTo(area[0][0], area[0][1]);
          for (var i = 1; i < area.length; i++) {
            drawingCtx.lineTo(area[i][0], area[i][1]);
          }
          drawingCtx.closePath();
          drawingCtx.stroke();
        }
      }
    });
  }

  var resizeTimer;
  window.addEventListener('resize', function () {
    clearTimeout(resizeTimer);
    resizeTimer = setTimeout(function () {
      if (isQuaggaStarted) {
        Quagga.stop();
        startCamera();
      }
    }, 200);
  });

  var myModal = document.getElementById('createmodal');
  myModal.addEventListener('shown.bs.modal', function () {
    startCamera();
  });

  myModal.addEventListener('hidden.bs.modal', function () {
    if (isQuaggaStarted) {
      Quagga.stop();
      isQuaggaStarted = false;
    }
  });
</script>


{% endblock %}