{% extends 'top navbar/top-navbar.html' %}
{% block title %} Edit product {% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auth.css') }}">

<div class="container-fluid mt-5 "> <!-- Agregamos la clase mt-5 para añadir margen superior -->
  <div class="row mx-2 mt-5 border border-Tertiary rounded p-0 ">

    <h6 class="mt-1 d-none d-sm-flex">Edit products</h6>


    <div class="col-3 border border-Tertiary rounded p-0">
      <nav class="nav flex-column" style="height: 100vh;">
        <div class="list-group d-flex flex-column" style="height: 100%;">
          <a class="list-group-button-home list-group-item list-group-item-action" href="{{ url_for('products.shortcut') }}">Home</a>
          <a class="list-group-buttons list-group-item list-group-item-action" href="{{ url_for('products.viewproduct') }}">View products</a>
          <a class="list-group-buttons list-group-item list-group-item-action" href="{{ url_for('products.addproduct') }}">Add product</a>
          <a class="list-group-item list-group-item-action active" href="{{ url_for('products.editproduct') }}">Edit Products</a>
        </div>
      </nav>
    </div>

    <div class="col-9 "> <!-- Añadimos la clase rounded -->
      <form class="d-flex">
        <div class="flex-grow-1"></div> <!-- Este div se expandirá para ocupar el espacio disponible -->
        <button class="btn btn-primary" type="submit">Edit</button>
        <button class="btn btn-primary" type="submit">Delete</button>
      </form>

      <table class="table table-bordered table-striped mt-3 m-0"> <!-- Mantenemos las clases existentes -->
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
</div>

<script>

</script>

{% endblock %}