
body.dark-mode .list-group-buttons {
    background-color: #333333;
    color: #F5F5F5;
    border-color: #333333;
}

/* Estilos para el modo claro */
body.dark-mode .list-group-buttons:active {
    background-color: #706f6fa9;
    /* Color de fondo cuando se presiona el botón en modo claro */

}

::-webkit-scrollbar {
    display: none;
}